.Balloonscontainer {
  padding: 0.77vw;
  margin: 0 auto;
  position: relative;

  .balloon {
    width: 100%;
    margin: 0 auto;
    padding-top: 2.31vw;
    position: relative;
  }
  .balloon > div {
    width: 10%;
    aspect-ratio: 10/14;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding: 0.77vw;
    box-shadow: inset 1.31vw 0.54vw 0.77vw rgba(182, 15, 97, 0.9);
    -webkit-transform-origin: bottom center;
  }
  .balloon > div:nth-child(1) {
    background: rgba(0, 94, 255, 0.9);
    left: 0;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(0, 115, 123, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
  }
  .balloon > div:nth-child(1):before {
    color: rgba(0, 94, 255, 0.9);
  }
  .balloon > div:nth-child(2) {
    background: rgba(0, 183, 255, 0.9);
    left: 9.23vw;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(0, 119, 123, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
  }
  .balloon > div:nth-child(2):before {
    color: rgba(0, 183, 255, 0.9);
  }
  .balloon > div:nth-child(3) {
    background: rgba(45, 181, 167, 0.9);
    left: 18.46vw;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(35, 140, 129, 0.9);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
  }
  .balloon > div:nth-child(3):before {
    color: rgba(45, 181, 167, 0.9);
  }
  .balloon > div:nth-child(4) {
    background: rgba(190, 61, 244, 0.9);
    left: 27.69vw;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(105, 0, 151, 0.9);
    -webkit-animation: balloon1 5s ease-in-out infinite;
    -moz-animation: balloon1 5s ease-in-out infinite;
    -o-animation: balloon1 5s ease-in-out infinite;
    animation: balloon1 5s ease-in-out infinite;
  }
  .balloon > div:nth-child(4):before {
    color: rgba(190, 61, 244, 0.9);
  }
  .balloon > div:nth-child(5) {
    background: rgba(180, 224, 67, 0.9);
    left: 36.92vw;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(110, 154, 0, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
  }
  .balloon > div:nth-child(5):before {
    color: rgba(180, 224, 67, 0.9);
  }
  .balloon > div:nth-child(6) {
    background: rgba(242, 194, 58, 0.9);
    left: 46.15vw;
    box-shadow: inset 0.77vw 0.77vw 0.77vw rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon2 3s ease-in-out infinite;
    -moz-animation: balloon2 3s ease-in-out infinite;
    -o-animation: balloon2 3s ease-in-out infinite;
    animation: balloon2 3s ease-in-out infinite;
  }
  .balloon > div:nth-child(6):before {
    color: rgba(242, 194, 58, 0.9);
  }
  .balloon > div:before {
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -0.85vw;
    left: 40%;
    content: "▲";
    font-size: 1vw;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: bolder;
    font-family: "Pacifico", cursive;
    color: white;
    position: relative;
  }
  .longtext {
    font-size: 2vw;
  }
  /*BALLOON 1 4*/
  @-webkit-keyframes balloon1 {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(-6deg);
    }
    50% {
      -webkit-transform: translateY(-1.54vw) rotate(8deg);
    }
  }
  @-moz-keyframes balloon1 {
    0%,
    100% {
      -moz-transform: translateY(0) rotate(-6deg);
    }
    50% {
      -moz-transform: translateY(-1.54vw) rotate(8deg);
    }
  }
  @-o-keyframes balloon1 {
    0%,
    100% {
      -o-transform: translateY(0) rotate(-6deg);
    }
    50% {
      -o-transform: translateY(-1.54vw) rotate(8deg);
    }
  }
  @keyframes balloon1 {
    0%,
    100% {
      transform: translateY(0) rotate(-6deg);
    }
    50% {
      transform: translateY(-1.54vw) rotate(8deg);
    }
  }
  /* BAllOON 2 5*/
  @-webkit-keyframes balloon2 {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(6eg);
    }
    50% {
      -webkit-transform: translateY(-2.31vw) rotate(-8deg);
    }
  }
  @-moz-keyframes balloon2 {
    0%,
    100% {
      -moz-transform: translateY(0) rotate(6deg);
    }
    50% {
      -moz-transform: translateY(-2.31vw) rotate(-8deg);
    }
  }
  @-o-keyframes balloon2 {
    0%,
    100% {
      -o-transform: translateY(0) rotate(6deg);
    }
    50% {
      -o-transform: translateY(-2.31vw) rotate(-8deg);
    }
  }
  @keyframes balloon2 {
    0%,
    100% {
      transform: translateY(0) rotate(6deg);
    }
    50% {
      transform: translateY(-2.31vw) rotate(-8deg);
    }
  }
  /* BAllOON 0*/
  @-webkit-keyframes balloon3 {
    0%,
    100% {
      -webkit-transform: translate(0, -0.77vw) rotate(6eg);
    }
    50% {
      -webkit-transform: translate(-1.54vw, 2.31vw) rotate(-8deg);
    }
  }
  @-moz-keyframes balloon3 {
    0%,
    100% {
      -moz-transform: translate(0, -0.77vw) rotate(6eg);
    }
    50% {
      -moz-transform: translate(-1.54vw, 2.31vw) rotate(-8deg);
    }
  }
  @-o-keyframes balloon3 {
    0%,
    100% {
      -o-transform: translate(0, -0.77vw) rotate(6eg);
    }
    50% {
      -o-transform: translate(-1.54vw, 2.31vw) rotate(-8deg);
    }
  }
  @keyframes balloon3 {
    0%,
    100% {
      transform: translate(0, -0.77vw) rotate(6eg);
    }
    50% {
      transform: translate(-1.54vw, 2.31vw) rotate(-8deg);
    }
  }
  /* BAllOON 3*/
  @-webkit-keyframes balloon4 {
    0%,
    100% {
      -webkit-transform: translate(0.77vw, -0.77vw) rotate(-8eg);
    }
    50% {
      -webkit-transform: translate(-1.15vw, 1.54vw) rotate(10deg);
    }
  }
  @-moz-keyframes balloon4 {
    0%,
    100% {
      -moz-transform: translate(0.77vw, -0.77vw) rotate(-8eg);
    }
    50% {
      -moz-transform: translate(-1.15vw, 0.77vw) rotate(10deg);
    }
  }
  @-o-keyframes balloon4 {
    0%,
    100% {
      -o-transform: translate(0.77vw, -0.77vw) rotate(-8eg);
    }
    50% {
      -o-transform: translate(-1.15vw, 0.77vw) rotate(10deg);
    }
  }
  @keyframes balloon4 {
    0%,
    100% {
      transform: translate(0.77vw, -0.77vw) rotate(-8eg);
    }
    50% {
      transform: translate(-1.15vw, 0.77vw) rotate(10deg);
    }
  }
  h1 {
    position: relative;
    top: 15.38vw;
    text-align: center;
    color: white;
    font-size: 2.916666666666667vw;
  }
}
