.BDbackfaceContainer {
  width: 100%;
  height: 100%;
  background: #fbf8f2;
  //background: url("./image/thiepcmsn.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.546875vw 2.23vw 0;
  img {
    position: absolute;
    top: 29vw;
    width: 15.38vw;
    height: 15.38vw;
    &:hover {
      animation: shake-center 1s ease-in-out infinite;
    }
  }
  .bubble {
    border: 0.15vw solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 255, 255, 0.635);
    border-radius: 3.85vw;
    position: absolute;
    cursor: pointer;
    bottom: 13.7109375vw;
    left: 10%;
    animation: 4s linear infinite;
    animation: rise ease-out forwards;
    .dot {
      height: 0.77vw;
      width: 0.77vw;
      border-radius: 3.85vw;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 20%;
      right: 20%;
    }
  }
  .BFBorder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./image/squareframe.png") no-repeat center center;
    background-size: cover;
    .BDtext {
      margin-left: 4.5703125vw;
      margin-right: 4.5703125vw;
      margin-top: 9.140625vw;
      margin-bottom: 9.140625vw;
      div {
        width: 100%;
        font-size: 1.5vw;
        font-weight: lighter;
        font-family: "Brush Script MT", cursive;
      }
    }
  }
}
@keyframes shake-center {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}
@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-7.69vw); /* Nổi lên trên 7.69vw */
    opacity: 0; /* Biến mất dần */
  }
}
